{% extends 'base.html' %}
{% block content %}

  <!------------------- MAIN PAGE CONTENT ------------------->

  <main class="exr-shell">
    <h1 class="h3">Create an event</h1>
    <!-- Bootstrap grid form using relevant input types -->
    <form class="row g-3">
      <div class="col-md-6">
        <label class="form-label" for="title">Title</label>
        <input id="title" class="form-control" placeholder="Event title">
      </div>

      <!-- Category drop down -->
      <div class="col-md-6">
        <label class="form-label" for="category">Category</label>
        <select id="category" class="form-select">
          <option>Business</option>
          <option>Technology</option>
          <option>Regulation</option>
          <option>Workshop</option>
          <option>Art</option>
          <option>Health</option>
          <option>Science</option>
          <option>Lifestyle</option>
          <option>Other...</option>
        </select>
      </div>

      <!-- Rest of info for event -->
      <div class="col-md-6">
        <label class="form-label" for="start">Start</label>
        <!-- BS inbuilt date/time selector. This thing is sick XD -->
        <input id="start" type="datetime-local" class="form-control">
      </div>
      <div class="col-md-6">
        <label class="form-label" for="end">End</label>
        <input id="end" type="datetime-local" class="form-control">
      </div>
      <div class="col-md-6">
        <label class="form-label" for="venue">Venue</label>
        <input id="venue" class="form-control" placeholder="Location or 'Online'">
      </div>
      <div class="col-md-6">
        <label class="form-label" for="tickets">Tickets available</label>
        <input id="tickets" type="number" min="0" class="form-control" value="10">
      </div>
      <!-- Users can select an image from their computer to use as the banner -->
      <div class="mb-3">
        <label for="eventImage" class="form-label">Banner</label>
        <input class="form-control" type="file" id="eventImage" name="eventImage" accept="image/*">
        <div class="form-text">Upload an image from your computer.</div>
      </div>
      <div class="col-12">
        <label class="form-label" for="desc">Description</label>
        <textarea id="desc" class="form-control" rows="4" placeholder="Describe the event"></textarea>
      </div>
      <div class="col-12 d-flex gap-2">
        <a class="btn btn-primary" href="bookings.html">Publish</a> <!-- For now just takes you to the bookings page-->
        <a class="btn btn-outline-secondary" href="index.html">Cancel</a>
      </div>
    </form>
  </main>

{% endblock %}

