{% extends 'base.html' %}
{% block content %}

<!--Main Page Content-->
<!--Login Form-->
<div class="container">
    <div class="login-container">
        <div class="login-header">
            <h2>Login to Your Account</h2>
        </div>
        <form>
            <div class="login-email">
                <label class="form-label">Email Address</label>
                <input type="email" class="form-control">
            </div>
            <div class="login-password">
                <label class="form-label">Password</label>
                <input type="password" class="form-control">
            </div>
            <div class="form-check">
                <label class="form-label">Remember Me</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="login-button d-grid">
                <button class="btn btn-success btn-lg">Login</button>
            </div>
            <div class="forgot-password">
                <a href="#">Forgot your password?</a>
            </div>
            <div class="register-link">
                <p>Don't have an account? <a href="register.html">Register here</a></p>
            </div>
        </form>
    </div>
</div>

{% end block %}