{% extends "base.html" %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<main class="exr-shell">
<div class="container-fluid">
    <div class="page-header">
        <h2>{{heading}}</h2>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container-fluid">
        <div class="row mt-3 mb-3">
            <div class="col-md-12">
                {% for message in messages %}
                <div class="alert alert-info">{{message}}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% endwith %}

    <div class="container">
        {{render_form(form)}}
    </div>

    {% if heading|lower == 'login' %}
    <div class="container">
        <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register here</a>.</p>
    </div>
    {% else %}
    <div class="container">
        <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a></p>
    </div>
    {% endif %}

</div>
</main>
{% endblock %}